/*Import fonts*/
@import url(./fonts.css);

/*Import Variables*/
@import url(./partials/_variables.css);

/*Import Global Styling*/
@import url(./partials/_global.css);

/*Start Navigation*/
.header_area .main-menu .navbar .navbar-brand{
    padding: 1rem 0rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 12rem;
}

.header_area .main-menu .nav-item .nav-link{
    font-family:var(--Oxygen);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color:var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background:var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background:var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/*End Navigation*/ 

/*Banner Area*/
.site-main .site-banner {
    background:url(../img/banner/background.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content:"";
    height:2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 4rem;
}

.site-main .site-banner .site-title h4{
    font-size: 2rem;
}

.site-main .site-banner .banner-image > img{
    padding:2rem 0;
    width:90rem;

}


/*End Banner Area*/